---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/layout/Navbar.astro";
import Footer from "../components/layout/Footer.astro";
import HeroSection from "../components/indexSections/HeroSection.astro";
import CommunitiesSection from "../components/indexSections/CommunitiesSection.astro";
import FeaturesSection from "../components/indexSections/FeaturesSection.astro";
import PricingSection from "../components/indexSections/PricingSection.astro";
import FAQSection from "../components/indexSections/FAQSection.astro";
import CTASection from "../components/indexSections/CTASection.astro";
import TestimonialsSection from "../components/indexSections/TestimonialsSection.astro";

---

<Layout>
	<Navbar />
	<main>
		<HeroSection />
		<CommunitiesSection />
		<FeaturesSection />
		<PricingSection />
		<FAQSection />
		<CTASection />
		<TestimonialsSection />
	</main>
	<Footer />
</Layout>
